<div class="mt-2 p-3 text-black box" style="height:fit-content">
    <h4 style="text-align: center;">Camera</h4>
    <hr style="margin-top: 0;">
    <img id="video" class="mx-auto d-block" width=450 height=295 src="images/camera1.png">
    <div class="cam-btn">
        <input class="btn btn-info btn-lg" type="button" id="camStart" value="Start">
        <input class="btn btn-danger btn-lg" type="button" id="camEnd" value="End" disabled>
    </div>
</div>
