<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
    <h4 style="text-align: center;">Data Analysis</h4>
    <hr style="margin-top: 0;">
    <table class="table_data">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Sr. No</th>
                <th style="border: 1px solid black; padding: 8px;">Type of Waste</th>
                <th style="border: 1px solid black; padding: 8px;">Plastic or Non-Plastic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black; padding: 8px;">1</td>
                <td style="border: 1px solid black; padding: 8px;">Organic Waste</td>
                <td style="border: 1px solid black; padding: 8px;">Non-Plastic</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 8px;">2</td>
                <td style="border: 1px solid black; padding: 8px;">Paper Waste</td>
                <td style="border: 1px solid black; padding: 8px;">Non-Plastic</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 8px;">3</td>
                <td style="border: 1px solid black; padding: 8px;">Plastic Waste</td>
                <td style="border: 1px solid black; padding: 8px;">Plastic</td>
            </tr>
        </tbody>
    </table>
    <table class="table_data">
        <!-- <thead>
            <tr>
                <th colspan="2" style="border: 1px solid black; padding: 8px;">Results</th> -->
                <!-- <th style="border: 1px solid black; padding: 8px;">Number</th> -->
            <!-- </tr>
        </thead> -->
        <tbody>
            <tr>
                <td style="border: 1px solid black; padding: 8px;">Plastic Waste</td>
                <td style="border: 1px solid black; padding: 8px;">33%</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 8px;">Non-Plastic Waste</td>
                <td style="border: 1px solid black; padding: 8px;">67%</td>
            </tr>
        </tbody>
    </table>  
</div>