<div class="mt-2 p-3 text-black box" style="height:fit-content">
    <h4 style="text-align: center;">Detection</h4>
    <hr style="margin-top: 0;">
    <img id="video" class="mx-auto d-block" width=450 height=295 src="images/loading.png">
    <!-- <img id="video" class="mx-auto d-block" width=450 height=300 src="images/segregation.png"> -->
</div>