<div class="mt-2 p-3 text-black box">
    <h4 style="text-align: center;">Manual Control</h4>
    <hr style="margin-top: 0;">
    <div class="btn-group-vertical" style="margin-left: 23%;" id="manual">
        <input class="controller btn btn-info btn-lg" style="height: 56px;" type="button" id="up" value="W">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <input class="controller btn btn-info btn-lg btn-block" style="width: 80px;height: 56px;" type="button" id="left" value="A">
            <input class="controller btn btn-danger btn-lg btn-block" style="width: 80px;height: 56px;" type="button" id="stop" value=" ">
            <input class="controller btn btn-info btn-lg btn-block" style="width: 80px;height: 56px;" type="button" id="right" value="D">
        </div>
        <input class="controller btn btn-info btn-lg" style="height: 56px;" type="button" id="down" value="S">
    </div>
</div>

