<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
  <h4 style="text-align: center;">Task</h4>
  <hr style="margin-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <span class="form-check-label" style="font-size:1.3rem;">Manual</span>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <div class="form-check form-switch form-switch-lg">
          <input class="form-check-input" type="checkbox" id="switchTask">
        </div>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <span class="form-check-label" style="font-size:1.3rem;">Autonomous</span>
      </div>
    </div>
  </div>
</div>



