<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
    <h4 style="text-align: center;">Status</h4>
    <hr style="margin-top: 0;margin-bottom: 7%;">
    <div>
        <div class="row">
            <div class="col">
                <h5>Imu</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchImu">
                </div>
            </div>
        </div>
        <p class="status">Orientation: <span id="imuData">0</span></p>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <h5>GPS</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchGPS">
                </div>
            </div>
        </div>
        <p class="status">Lat: <span id="gpsLat">0</span></p>
        <p class="status">Long: <span id="gpsLong">0</span></p>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <h5>Collection</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchAuto">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <h5>Vibration</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchAuto">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <h5>Conveyor</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchSpeed">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">   
                <h5>Segregation</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchAuto">
                </div>
            </div>
        </div>
    </div>
</div>